@import url("common.css");

* {
	font-family: "Space Grotesk";
	font-weight: 600;
}

window#osd {
	background: transparent;
	border-radius: 15px;
	border: none;
	box-shadow: none;
}

window#osd #container {
	padding: 12px;
	border-radius: 15px;
	background: @color-background-70;
	border: 2px solid @color-bg-selected;
	background-image: radial-gradient(ellipse at top center,
			rgba(111, 116, 127, 0.08) 0%,
			transparent 60%);
}

window#osd image {
	-gtk-icon-transform: scale(0.7);
	color: @color-accent;
}

window#osd label {
	color: @color-foreground;
	font-weight: 700;
	margin-bottom: 4px;
}

window#osd progressbar:disabled,
window#osd image:disabled {
	opacity: 0.5;
}

window#osd trough {
	min-height: 6px;
	border-radius: 999px;
	border: none;
	background: @color-background-95;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

window#osd progress {
	min-height: 6px;
	border-radius: 999px;
	border: none;
	background: @color-accent;
	box-shadow: 0 0 10px @color-accent-35;
}
