@define-color color-background        rgba(43, 48, 59, 1.0);     /* black */
@define-color color-background-70     rgba(43, 48, 59, 0.7);     /* black */
@define-color color-background-95     rgba(43, 48, 59, 0.95);    /* black */
@define-color color-bg-selected       rgba(94, 103, 128, 1.0);   /* bright black */
@define-color color-bg-selected-70    rgba(94, 103, 128, 0.7);   /* bright black */
@define-color color-selected          rgba(255, 255, 255, 1.0);  /* bright white */
@define-color color-accent            rgba(53, 167, 255, 1.0);   /* cyan */
@define-color color-accent-70         rgba(53, 167, 255, 0.7);   /* cyan */
@define-color color-accent-35         rgba(53, 167, 255, 0.35);  /* cyan */
@define-color color-disabled          rgba(170, 170, 170, 1.0);  /* gray */
@define-color color-foreground        rgba(255, 255, 255, 1.0);  /* white */
@define-color color-fg-dark           rgba(170, 170, 170, 1.0);  /* bright gray */

@define-color color-red               rgba(204, 15, 49, 1.0);
@define-color color-green             rgba(38, 212, 139, 1.0);
