@define-color cc-bg rgba(43, 48, 59, 0.7);
@define-color cc-bg-solid rgba(43, 48, 59, 0.95);
@define-color bg-hover rgb(63, 68, 79);
@define-color color-todo #FF00FF;

@define-color color-background        rgba(43, 48, 59, 1.0);     /* black */
@define-color color-background-70     rgba(43, 48, 59, 0.7);     /* black */
@define-color color-background-95     rgba(43, 48, 59, 0.95);    /* black */
@define-color color-bg-selected       rgba(94, 103, 128, 1.0);   /* bright black */
@define-color color-bg-selected-70    rgba(94, 103, 128, 0.7);   /* bright black */
@define-color color-selected          rgba(255, 255, 255, 1.0);  /* bright white */
@define-color color-accent            rgba(53, 167, 255, 1.0);   /* cyan */
@define-color color-accent-70         rgba(53, 167, 255, 0.7);   /* cyan */
@define-color color-accent-50         rgba(53, 167, 255, 0.5);   /* cyan */
@define-color color-accent-35         rgba(53, 167, 255, 0.35);  /* cyan */
@define-color color-accent-dark       rgba(194, 0, 251, 1.0);    /* magenta  */
@define-color color-disabled          rgba(170, 170, 170, 1.0);  /* gray */
@define-color color-foreground        rgba(255, 255, 255, 1.0);  /* gray */
@define-color color-fg-dark           rgba(170, 170, 170, 1.0);  /* bright gray */

@define-color color-black             rgba(43, 48, 59, 1.0);
@define-color color-red               rgba(204, 15, 49, 1.0);
@define-color color-green             rgba(38, 212, 139, 1.0);
@define-color color-yellow            rgba(232, 135, 30, 1.0);
@define-color color-blue              rgba(0, 104, 223, 1.0);
@define-color color-magenta           rgba(194, 0, 251, 1.0);
@define-color color-cyan              rgba(53, 167, 255, 1.0);
@define-color color-gray              rgba(170, 170, 170, 1.0);
@define-color color-bright-black      rgba(94, 103, 128, 1.0);
@define-color color-bright-red        rgba(255, 17, 61, 1.0);
@define-color color-bright-green      rgba(80, 250, 123, 1.0);
@define-color color-bright-yellow     rgba(255, 175, 89, 1.0);
@define-color color-bright-blue       rgba(31, 123, 255, 1.0);
@define-color color-bright-magenta    rgba(221, 110, 255, 1.0);
@define-color color-bright-cyan       rgba(125, 199, 255, 1.0);
@define-color color-bright-gray      rgba(255, 255, 255, 1.0);
