@import url("common.css");

* {
	font-family: "Space Grotesk", "Symbols Nerd Font Mono";
	font-weight: 600;
	font-size: 14px;
	min-height: 0;
}

window#waybar {
	background-color: @color-background-70;
	color: @color-foreground;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	transition: background-color 0.5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

#custom-launcher {
	background-color: transparent;
	color: @color-accent;
	padding: 0 12px;
	margin: 4px 0 4px 6px;
	border-radius: 8px;
	font-size: 16px;
	transition: all 0.2s ease;
}

#custom-launcher:hover {
	background-color: @color-background-95;
	color: @color-foreground;
	box-shadow: 0 0 10px @color-accent-35;
}

#workspaces {
	background: transparent;
	margin: 4px;
	padding: 0;
}

#workspaces button {
	padding: 0 8px;
	background-color: @color-background-95;
	color: @color-fg-dark;
	border-radius: 6px;
	margin: 0 3px;
	transition: color 0.2s ease;
}

#workspaces button:hover {
	background: transparent;
	background-image: none;
	color: @color-accent;
	box-shadow: none;
}

#workspaces button.active {
	background-color: @color-accent;
	color: @color-background;
	font-weight: 800;
	padding: 0 12px;
}

#workspaces button.urgent {
	background-color: @color-red;
	color: @color-background;
}

#clock,
#battery,
#network,
#pulseaudio,
#custom-notification {
	padding: 0 10px;
	color: @color-foreground;
	background-color: transparent;
	margin: 4px 2px;
	border-radius: 8px;
	transition: all 0.2s ease;
}
#custom-notification {
        min-width: 24px;
}

#clock:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover,
#custom-notification:hover {
	background-color: @color-background-95;
	color: @color-accent;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#battery.charging,
#battery.plugged {
	color: @color-green;
}

#battery.critical:not(.charging) {
	background-color: @color-red;
	color: @color-foreground;
	animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
	to {
		background-color: @color-foreground;
		color: @color-red;
	}
}

#tray {
	background-color: transparent;
	margin-left: 8px;
}

#tray>.passive,
#tray>.active,
#tray>.needs-attention {
	background-color: transparent;
	border-radius: 8px;
	min-width: 24px;
	padding: 0 8px;
	margin: 4px 2px;
	transition: all 0.2s ease;
}

#tray>.passive:hover,
#tray>.active:hover,
#tray>.needs-attention:hover {
	background-color: @color-background-95;
	color: @color-accent;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	-gtk-icon-effect: none;
}

#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	background-color: @color-red;
	-gtk-icon-effect: highlight;
}

menu {
	background: @color-background-95;
	border: 2px solid @color-bg-selected;
	border-radius: 12px;
	padding: 8px;
}

menuitem {
	padding: 4px 8px;
	border-radius: 6px;
}

menuitem:hover {
	background-color: @color-accent-35;
}

tooltip {
	background: @color-background-95;
	border-radius: 12px;
	border: 2px solid @color-bg-selected;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.45);
}

tooltip label {
	padding: 8px;
	color: @color-foreground;
}
