@import url("common.css");

* {
	background-image: none;
	font-family: "Space Grotesk", sans-serif;
	font-weight: 600;
	text-shadow: none;
	color: @color-foreground;
}

window {
	background-color: @color-background-70;
}

button {
        background-color: @color-background-70;
	border: 3px solid @color-disabled;
	border-radius: 12px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	min-width: 120px;
	min-height: 120px;
	transition: background-color 0.3s ease, border-color 0.3s ease, background-size 0.3s ease;
}

button:focus,
button:active,
button:hover {
        background-color: @color-bg-selected-70;
	border-color: @color-accent;
	outline-style: none;
	background-size: 35%;
}

#lock {
	background-image: url("lock.svg");
}

#logout {
	background-image: url("logout.svg");
}

#suspend {
	background-image: url("suspend.svg");
}

#hibernate {
	background-image: url("hibernate.svg");
}

#shutdown {
	background-image: url("shutdown.svg");
}

#reboot {
	background-image: url("reboot.svg");
}
